body
{
    font-family: 'Merienda', cursive;
}

header
{
    background-color: #061339;
    color: #FFF;
    font-family: 'Merienda', cursive;
}

#banniere2
{
    background: url("../images/background.jpg");
    background-repeat: repeat-x;
    color: #FFF;
    font-family: 'Merienda', cursive;
    text-shadow: 1px 3px 2px black;
}
#both
{
    background-color: #f1f1f1;
}
#formulaire
{
    color: #2F4073;
}

footer
{
    background-color: #dddddd;
    
}

h3, h2
{
    font-family: 'Merienda', cursive;
    color: #7885A5;
}

#chat
{
    width: 100%;
    background-color: #7885A5;
}
#chat:hover
{
    background-color: #061339;
}
#banniere3 
{
    background-color: #061339;
    color: #FFF;
    font-family: 'Merienda', cursive;
    text-align: right;
}